body {
    color: white;
    background: rgb(126, 192, 236);
    margin: 0px;
}
header {
    border-bottom: solid 2px rgb(42, 73, 177);
    padding: 20px;
    font-size: 32px;
    color: rgb(98, 137, 189);
}
.chamada {
    background: rgb(152, 187, 240);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

section {
background: rgb(76, 102, 189);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

div {
margin-right: 20px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}


div {
    margin-right: 20px;
    }
    .categoria-videos {
        display: flex;
        overflow-x: auto;
        gap: 10px;
    }
    
    .categoria {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    .categoria-videos img {
        opacity: 0.5;
        height: 200px;
    }
    
    .categoria-videos img:hover {
        opacity: 1.0;
        border: 3px solid green;
    }
    
    .categoria h2 {
        color: rgb(42, 122, 228);
    }